*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearFix{
    position: relative;
}
.clearFix::after{
    content: '';
    display: block;
    clear: both;
    zoom: 1;
    overflow: hidden;
}
.borderR{
    border: 1px solid red;
}
.borderB{
    border: 1px solid blue;
}
.border{
    border: 1px solid black;
}
.font12{
    font-size: 12px;
}
.font14{
    font-size: 14px;
}
.font16{
    font-size: 16px;
}
.fw{
    font-weight: bold;
}
/* icon被选时的颜色 */
.rlActive{
    color: #fb8972 !important;
} 




.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



